################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StravaPythonClient
/credentials.py
/.vs
/__pycache__
